<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/static/js/index.js"></script>

</head>
<style>
  ​path {
    fill-opacity:0;
}​
</style>

<body style="margin: 0%; overflow: hidden;">
  <div id="row0" class="block" id="top-half" style="display: flex; max-width:100vw; position:absolute;top:00vh;">
    <div class="block0 card bg-primary text-white" id="block0col0" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw; position:absolute;left:00vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block0 card bg-secondary text-white" id="block0col1" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw; position:absolute;left:50vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block0 card bg-success text-white" id="block0col2" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw; position:absolute;left:100vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
  </div>
  <div id="row1" class="block" style="display: flex; max-width:100vw; position:absolute;top:50vh;">
    <div class="block1 card bg-danger text-white" id="block1col0" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;   position:absolute;left:00vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block1 card bg-warning text-dark" id="block1col1" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;  position:absolute;left:50vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block1 card bg-info text-white" id="block1col2" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;   position:absolute;left:100vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>

  </div>
  <div id="row2" class="block" style="display: flex; max-width:100vw; position:absolute;top:100vh;">
    <div class="block2 card bg-light text-dark" id="block2col0" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;  position:absolute;left:00vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block2 card bg-dark text-white" id="block2col1" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;   position:absolute;left:50vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
    <div class="block2 card bg-white text-dark" id="block2col2" style="overflow-y: scroll; height: 50vh; min-width:50vw; max-width: 50vw;  position:absolute;left:100vw; "><img class="card-img-top" src=""><div class="card-body"><h5 class="card-title">title</h5><p class="card-text">card text</p></div></div>
  </div>
</body>
</html>